/* MEDIA QUERIES  */
:root {
  --primary-color: #163269;
  --primary-dark-color: #142d5f;
}

/* laptop  */
@media (max-width: 1366px) {
  body {
    color: red;
  }
}

/* tablet  */
@media (max-width: 768px) {
}

/* mobile phone  */
@media (max-width: 450px) {
}
