/* Tablet  */
@media (max-width: 1080px) {
  html {
    font-size: 62%;
  }

  body {
    position: relative;
  }

  .navbar-menu {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 30rem;
    background-color: var(--primary-color);
    height: 100vh;
    transition: 0.3s;
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding-top: 3rem;
  }

  .navbar-menu a {
    color: #fff;
  }

  .navbar-menu a::after {
    width: 0;
    height: 7%;
    background-color: #fff;
    position: absolute;
    top: 110%;
    left: 0;
    transform-origin: left;
    transition: 0.3s;
  }

  .navbar-menu a:hover::after {
    width: 100%;
  }

  #menu-btn {
    display: inline-block;
  }

  .navbar-menu.nav-active {
    right: 0;
  }

  #menu-btn.nav-active {
    display: none;
  }

  #close-btn.nav-active {
    display: inline-block;
  }

  .hero {
    padding-top: 13rem;
  }

  .hero-container {
    column-gap: 3rem;
  }

  .heading {
    font-size: 5rem;
  }

  .hero-desc {
    font-size: 1.5rem;
  }

  .hero-btns-box a:first-child {
    padding: 1.2rem 2.2rem;
    background-color: var(--primary-color);
  }

  .hero-btns-box a:last-child {
    padding: 1rem 1.9rem;
  }
}

/* Mobile Phone  (IPhone XR)*/
@media (max-width: 414px) {
  html {
    font-size: 56%;
  }

  body {
  }

  .main-nav {
    padding: 0 5%;
  }

  .navbar-btns-box {
    gap: 0.5rem;
  }

  .navbar-btns-box button ion-icon {
    font-size: 1.9rem;
  }

  .navbar-menu {
    width: 100%;
    padding-top: 5rem;
  }

  .hero {
    padding-top: 8rem;
  }

  .hero-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .hero-img-box {
    display: flex;
    justify-content: center;
  }
}
