:root {
  --primary-color: #192f59;
  --primary-dark-color: #172a50;
}

/* Header  */
.main-nav {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  line-height: 9rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.brand .logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 80%;
  height: auto;
}

.menu-list {
  display: inline-block;
}

.menu-list:not(.menu-list:last-child) {
  margin-right: 5rem;
}

.menu-list a {
  color: var(--primary-color);
  position: relative;
}

.menu-list a::after {
  content: "";
  background-color: var(--primary-color);
  width: 0;
  height: 10%;
  position: absolute;
  top: 110%;
  left: 0;
  transform-origin: left;
  transition: 0.3s;
}

.menu-list a:hover::after {
  width: 100%;
}

.social-media-box a {
  display: inline-block;
  font-size: 1.8rem;
  color: var(--primary-color);
  margin-top: 2rem;
}

.social-media-box a ion-icon {
  background-color: var(--primary-color);
  padding: 0.7rem;
  color: #fff;
  border-radius: 50%;
  transition: 0.2s;
  border: solid 3px var(--primary-color);
}

.social-media-box a ion-icon:hover {
  background-color: #fff;
  color: var(--primary-color);
}

.social-media-box a:not(.social-media-box a:last-child) {
  margin-right: 2rem;
}

.mobile-btn {
  display: none;
}

.mobile-btn button {
  display: inline-block;
  font-size: 2rem;
  background: none;
}

.mobile-btn button ion-icon {
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 50%;
  color: #fff;
}

section {
  height: 100vh;
}
