:root {
  --primary-color: #192f59;
  --primary-dark-color: #0f1c35;
}

/* Header  */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 6%;
  height: 8rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo {
  display: flex;
}

.logo img {
  width: 80%;
  height: auto;
}

.navbar-menu a {
  display: inline-block;
  margin-right: 3rem;
  color: var(--primary-color);
  position: relative;
  transition: 0.3s;
}

.navbar-menu a::after {
  content: "";
  width: 0;
  height: 10%;
  background-color: var(--primary-color);
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: left;
  transition: 0.3s;
}

.navbar-menu a:hover::after {
  width: 100%;
}

.navbar-btns-box {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background: none;
}

.navbar-btns-box button {
  background: none;
}

.navbar-btns-box button ion-icon {
  font-size: 2rem;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.7rem;
  border-radius: 50%;
  border: solid 0.3rem var(--primary-color);
  transition: 0.3s;
}

.navbar-btns-box button ion-icon:hover {
  background-color: #fff;
  color: var(--primary-color);
}

/* Hero section  */

.hero {
  padding-top: 8rem;
}

.hero-container {
  max-width: 86%;
  /* background-color: red; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 6rem;
  line-height: 1.1;
  margin-bottom: 2rem;
  color: var(--primary-color);
}

.hero-desc {
  margin-bottom: 3rem;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1.6rem;
}

.hero-btns-box a {
  display: inline-block;
  margin-right: 1rem;
  background-color: #fff;
  border-radius: 50rem;
  color: #fff;
  transition: 0.2s;
}

.hero-btns-box a:first-child {
  padding: 1.3rem 2.3rem;
  background-color: var(--primary-color);
}

.hero-btns-box a:first-child:hover {
  background-color: var(--primary-dark-color);
}

.hero-btns-box a:last-child {
  padding: 1.1rem 2rem;
  border: 0.3rem solid var(--primary-color);
  color: var(--primary-color);
}

.hero-btns-box a:last-child:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.hero-img {
  z-index: -1;
  width: 90%;
  height: auto;
}
